# Recipe 2-1. Converting Text Data to Lowercase
In this recipe, we are going to discuss how to lowercase the text data in
order to have all the data in a uniform format and to make sure “NLP” and
“nlp” are treated as the same.

In [1]:
import pandas as pd

In [2]:
text = ['This is introduction to NLP','It is likely to be useful, to people ','Machine learning is the new electrcity','There would be less hype around AI and more action going forward','python is the best tool!','R is good langauage','I like this book','I want more books like this']
text

['This is introduction to NLP',
 'It is likely to be useful, to people ',
 'Machine learning is the new electrcity',
 'There would be less hype around AI and more action going forward',
 'python is the best tool!',
 'R is good langauage',
 'I like this book',
 'I want more books like this']

Convert list into dataframe

In [3]:
df = pd.DataFrame({'tweet':text})
df

                                               tweet
0                        This is introduction to NLP
1              It is likely to be useful, to people
2             Machine learning is the new electrcity
3  There would be less hype around AI and more ac...
4                           python is the best tool!
5                                R is good langauage
6                                   I like this book
7                        I want more books like this

Books's approach

In [4]:
df['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))

0                          this is introduction to nlp
1                 it is likely to be useful, to people
2               machine learning is the new electrcity
3    there would be less hype around ai and more ac...
4                             python is the best tool!
5                                  r is good langauage
6                                     i like this book
7                          i want more books like this
Name: tweet, dtype: object

Leo's approach

In [5]:
pd.DataFrame(df['tweet'].apply(lambda x: x.lower()))

                                               tweet
0                        this is introduction to nlp
1              it is likely to be useful, to people
2             machine learning is the new electrcity
3  there would be less hype around ai and more ac...
4                           python is the best tool!
5                                r is good langauage
6                                   i like this book
7                        i want more books like this

Even simpler approach

In [6]:
df['tweet'].str.lower()

0                          this is introduction to nlp
1                it is likely to be useful, to people
2               machine learning is the new electrcity
3    there would be less hype around ai and more ac...
4                             python is the best tool!
5                                  r is good langauage
6                                     i like this book
7                          i want more books like this
Name: tweet, dtype: object